body, button, html, input, select, textarea {
    font-family: "Microsoft JhengHei";
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

pre code {
    font-size: 18px !important;
    margin-left: -80px;
}

.text-header {
    color: #0010cf;
}

.table-schema tr td:nth-child(1) {
    width: 30%;
}
.table-schema tr td:nth-child(2) {
    width: 20%;
}
.table-schema tr td:nth-child(3) {
    width: 50%;
}